#contenedor{
 width: 100%;
 height: 100%;   
}
header{
    background-color: #1a1819;
}
header #logo{
    float: left;
    margin-top: 30px;
}

header #barra{
    float:right;
}

.clear{ clear: both;}

ul,li{
    display: inline;
    float: left;
    margin-top: 100px;
    margin-right: 50px;
}

ul ul,li{
    margin-top: 1px;
    margin: 0;
    margin-left: 0.2em;
    padding: 1em;
}


a{
    color: white;
}

a:hover{
    list-style: none;
    color: yellow;
}

article{
    width: 40%;
    height: 80%;
    margin-left: 20px;
}

#descripción{
    width: 80%;
    height: 100%;
    float: left;
}

#img22{
    width: 40%;
    height: 90%;
    float:right;
}
.clear{clear: both;}

footer #buscador{  
    float: right; 
    margin-top:20px
 }

